:root {
    --Primary-bg: #131313;
    --Secondary-bg: #212121;
    --head-titles: #fb2171;
    --head-titles-2: #27f897;
    --head-titles-3: #8a21fb;
    --Hover-1: #a212fc;
    --light: #e6cdb5;
    --border-1: #333333;
    --border-2: #1b1b1b;
    --hamb-shdw: #2a2929;
    --hamb-spans: #FC3C8F;
    --hamb-spans-2: #ff74b0;
    --hamb-spans-3: #fd91c0;
    --logo-glow-1: #ff5aac;
    --logo-glow-2: #FC3C8F;
}

.about__sep--bg {
    background-color: var(--Secondary-bg);
}

.service__sep {
    background-color: var(--Primary-bg);
    height: 1rem;
    border-radius: 999rem 999rem 0% 0%;
}

/*------------------------------------------*/


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--Primary-bg);
    position: relative;
}

.about-header {
    filter: blur(px);
    position: absolute;
    padding: .5rem 1rem 0 1rem;
    background-color: var(--Primary-bg);
    transform: translateY(-3.5rem);
    border-radius: 15px;
    box-shadow: inset -10px -8px 25px #202020,
        inset 10px 8px 12px #0c0c0c;
    transition: all 1s;

}

.about-header:hover {
    scale: 1.05;
    transition: all 1s;
}

.about-intro {
    margin: 1rem 0;
}

.about--title {
    letter-spacing: 1.2px;
    font-size: 30px;
    animation: about-title-glow 7s infinite;
}

@keyframes about-title-glow {
    0% {
        color: var(--head-titles-2);
        text-shadow: 0 0 20px var(--head-titles-2);
    }

    20% {
        color: var(--head-titles-2);
        text-shadow: 0 0 20px var(--head-titles-2);
    }

    40% {
        color: #278cf8;
        text-shadow: 0 0 20px #278cf8;
    }

    50% {
        color: #a827f8;
        text-shadow: 0 0 20px #a827f8;
    }

    60% {
        color: #f8279a;
        text-shadow: 0 0 20px #f8279a;
    }

    70% {
        color: #273cf8;
        text-shadow: 0 0 20px #273cf8;
    }

    100% {
        color: var(--head-titles-2);
        text-shadow: 0 0 20px var(--head-titles-2);
    }

}

.hello{
    color: var(--light);
    font-size: 40px;
    opacity: 0.5;
}

.TypeAnime-container{
    margin: 1rem 0;
}

#typewriter{
    color: var(--light);
}

#cursor{
    color: rgb(214, 168, 241);
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%{opacity: 100%;}
    50%{opacity: 0%;}
}

/*------Responsive------*/


@media (max-width: 991px) {
    .about-header {
        filter: blur(px);
        position: absolute;
        padding: .5rem 1rem 0 1rem;
        background-color: var(--Primary-bg);
        transform: translateY(-3.5rem);
        border-radius: 15px;
        box-shadow: inset -10px -8px 25px #202020,
            inset 10px 8px 12px #0c0c0c;
        transition: all 1s;
    
    }

    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;

    }

    .content-box {
        flex-direction: column;
        width: 100%;

    }

    .card {
        max-width: 300px;
        margin: 10px auto;
    }


}